# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo


# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/



# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
*.env